@import './base.css';

/* 地図を画面全体に表示 */
.leaflet-container {
  width: 100%;
  padding-top: 100%;
  background: red;
}

/* 通常カーソル */
.leaflet-grab {
  cursor: auto;
}

.container {
  min-width: 300px;
  max-width: 600px;
}
