@import './base.css';

/* 地図を画面全体に表示 */
.leaflet-container {
  width: 100%;
  padding-top: 100%;
}

/* 通常カーソル */
.leaflet-grab {
  cursor: auto;
}

.wrap {
  display: flex;
  flex-direction: row;
  max-width: 980px;
  height: 100vh;
  background-color: #2a2ca0;
}

.top-wrap {
  max-width: 980px;
  background-color: #2d2faa;
}

.map-container {
  min-width: 200px;
  max-width: 586px;
  /* background-color: #aa2d2d; */
  background-color: #363636;
}

.control-container {
  width: 394px;
  height: 100%;
  background-color: #363636;
  /* border: 1px solid #ffffff; */
}

/* タブスクロールボタン */
.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}

/* スマホ 480px以下 */
@media screen and (max-width: 480px) {
  .wrap {
    display: block;
  }

  .control-container {
    min-width: 100%;
  }
}
