@import './base.css';

/* 地図を画面全体に表示 */
.leaflet-container {
  width: 100%;
  padding-top: 100%;
}

/* 通常カーソル */
.leaflet-grab {
  cursor: auto;
}

.top-wrap {
  max-width: 980px;
  background-color: #2d2faa;
}

.wrap {
  display: flex;
  max-width: 980px;
}

.map-container {
  flex: 1;
  background-color: #aa2d2d;
}

.control-container {
  width: 400px;
  background-color: #46a5ac;
}

/* タブスクロールボタン */
.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}

/* スマホ 767px以下 */
@media only screen and (max-width: 767px) {
  .wrap {
    display: block;
  }
  .control-container {
    width: 100%;
  }
}
